body{

	padding: 70px;
}

.navbar-inverse {

	background: #2c3e50;
}

.jumbotron{
	background-color: #ecf0f1;
	font-size: 40px;
	text-align: center;

}

.navbar-inverse .navbar-brand{

	color: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.jumbotron p{
	color: #2c3e50;
	font-size: 30px;

}
.thumbnail img {
    height:250px;
    width:100%;
}